$slider-foreground: #4C4C4E;
$slider-background: #282828;
$slider-knob-foreground: #A1A1A6;
$slider-knob-hover: #fff;
$bar-width: 10vw;
$bar-height: 4px;
$margin-between: 2vh;
$slider-handler: 14px;
$slider-margin-top: -10px; //same as bar height

.noise {
	display: flex;
	flex-direction: row;
	width: $bar-width;
	padding-top: 10vh;
	padding-left: 10vw;
}

@mixin playerSupporter {
	width: 4px;
	height: 100px;
	position: relative;
	margin: $margin-between auto;
}

@mixin volumeSupporter {
	position: relative;
	margin: 0 auto;
	height: 100px;
	width: $bar-height;
	background: $slider-background;
	border-radius: 15px;
}

@mixin sliderSupporter {
	height: $bar-height;
	width: 100%;
	bottom: 0;
	position: absolute;
	background: $slider-foreground;
	border: none;
	border-radius: 10px;
	outline: none;
}

@mixin knobSupporter {
	width: $slider-handler;
	height: $slider-handler;
	border-radius: 50%;
	background: $slider-knob-foreground;
	position: absolute;
	margin-left: -5px;
	margin-bottom: $slider-margin-top;
	cursor: pointer;
	outline: none;
}


#wave-player {
	@include playerSupporter();

	#wave-volume {
		@include volumeSupporter();

		.ui-slider-range-min {
			@include sliderSupporter();
		}

		.ui-slider-handle {
			@include knobSupporter();

			&:hover {
				background:$slider-knob-hover;
			}
		}
	}
}

#rain-player {
	@include playerSupporter();

	#rain-volume {
		@include volumeSupporter();

		.ui-slider-range-min {
			@include sliderSupporter();
		}

		.ui-slider-handle {
			@include knobSupporter();

			&:hover {
				background: $slider-knob-hover;
			}
		}
	}
}

#thunder-player {
	@include playerSupporter();

	#thunder-volume {
		@include volumeSupporter();

		.ui-slider-range-min {
			@include sliderSupporter();
		}

		.ui-slider-handle {
			@include knobSupporter();

			&:hover {
				background: $slider-knob-hover;
			}
		}
	}
}

#birds-player {
	@include playerSupporter();

	#birds-volume {
		@include volumeSupporter();

		.ui-slider-range-min {
			@include sliderSupporter();
		}

		.ui-slider-handle {
			@include knobSupporter();

			&:hover {
				background: $slider-knob-hover;
			}
		}
	}
}
