$bar-width: 10vw;
$bar-height: 5px;
$margin-between: 2vh;
$slider-handler: 14px;
$slider-margin-top: -5px; //same as bar height


.noise {
	display: none;
	flex-direction: column;
	width: $bar-width;
	padding-top: 10vh;
	padding-left: 10vw;
}

@mixin playerSupporter {
	width: 100%;
	height: auto;
	position: relative;
	margin: $margin-between auto;
}

@mixin volumeSupporter {
	position: relative;
	margin: 0 auto;
	height: $bar-height;
	width: 100%;
	background: var(--background-secondary);
	border-radius: 15px;
}

@mixin sliderSupporter {
	height: $bar-height;
	width: 100%;
	position: absolute;
	background: var(--background-tertiary);
	border: none;
	border-radius: 10px;
	outline: none;
}

@mixin knobSupporter {
	width: $slider-handler;
	height: $slider-handler;
	border-radius: 50%;
	background: var(--accent-secondary);
	position: absolute;
	margin-left: -8px;
	margin-top: $slider-margin-top;
	cursor: pointer;
	outline: none;
}


#wave-player {
	@include playerSupporter();

	#wave-volume {
		@include volumeSupporter();

		.ui-slider-range-min {
			@include sliderSupporter();
		}

		.ui-slider-handle {
			@include knobSupporter();

			&:hover {
				background:var(--hover-primary);
			}
		}
	}
}

#rain-player {
	@include playerSupporter();

	#rain-volume {
		@include volumeSupporter();

		.ui-slider-range-min {
			@include sliderSupporter();
		}

		.ui-slider-handle {
			@include knobSupporter();

			&:hover {
				background: var(--hover-primary);
			}
		}
	}
}

#thunder-player {
	@include playerSupporter();

	#thunder-volume {
		@include volumeSupporter();

		.ui-slider-range-min {
			@include sliderSupporter();
		}

		.ui-slider-handle {
			@include knobSupporter();

			&:hover {
				background: var(--hover-primary);
			}
		}
	}
}

#birds-player {
	@include playerSupporter();

	#birds-volume {
		@include volumeSupporter();

		.ui-slider-range-min {
			@include sliderSupporter();
		}

		.ui-slider-handle {
			@include knobSupporter();

			&:hover {
				background: var(--hover-primary);
			}
		}
	}
}
