.brown-noise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 8vw;
  padding-top: 10vh;
  padding-left: 10vw;
}

#wave-player {
  width: 100%;
  height: auto;
  position: relative;
  margin: 2vh auto;
}

#wave-player #wave-volume {
  position: relative;
  margin: 0 auto;
  height: 5px;
  width: 100%;
  background: #1d1d1f;
  border-radius: 15px;
}

#wave-player #wave-volume .ui-slider-range-min {
  height: 5px;
  width: 100%;
  position: absolute;
  background: #6e6e73;
  border: none;
  border-radius: 10px;
  outline: none;
}

#wave-player #wave-volume .ui-slider-handle {
  width: 14px;
  height: 14px;
  border-radius: 20px;
  background: #a1a1a6;
  position: absolute;
  margin-left: -8px;
  margin-top: -5px;
  cursor: pointer;
  outline: none;
}

#wave-player #wave-volume .ui-slider-handle:hover {
  background: white;
}

#rain-player {
  width: 100%;
  height: auto;
  position: relative;
  margin: 2vh auto;
}

#rain-player #rain-volume {
  position: relative;
  margin: 0 auto;
  height: 5px;
  width: 100%;
  background: #1d1d1f;
  border-radius: 15px;
}

#rain-player #rain-volume .ui-slider-range-min {
  height: 5px;
  width: 100%;
  position: absolute;
  background: #6e6e73;
  border: none;
  border-radius: 10px;
  outline: none;
}

#rain-player #rain-volume .ui-slider-handle {
  width: 14px;
  height: 14px;
  border-radius: 20px;
  background: #a1a1a6;
  position: absolute;
  margin-left: -8px;
  margin-top: -5px;
  cursor: pointer;
  outline: none;
}

#rain-player #rain-volume .ui-slider-handle:hover {
  background: white;
}

#thunder-player {
  width: 100%;
  height: auto;
  position: relative;
  margin: 2vh auto;
}

#thunder-player #thunder-volume {
  position: relative;
  margin: 0 auto;
  height: 5px;
  width: 100%;
  background: #1d1d1f;
  border-radius: 15px;
}

#thunder-player #thunder-volume .ui-slider-range-min {
  height: 5px;
  width: 100%;
  position: absolute;
  background: #6e6e73;
  border: none;
  border-radius: 10px;
  outline: none;
}

#thunder-player #thunder-volume .ui-slider-handle {
  width: 14px;
  height: 14px;
  border-radius: 20px;
  background: #a1a1a6;
  position: absolute;
  margin-left: -8px;
  margin-top: -5px;
  cursor: pointer;
  outline: none;
}

#thunder-player #thunder-volume .ui-slider-handle:hover {
  background: white;
}

#birds-player {
  width: 100%;
  height: auto;
  position: relative;
  margin: 2vh auto;
}

#birds-player #birds-volume {
  position: relative;
  margin: 0 auto;
  height: 5px;
  width: 100%;
  background: #1d1d1f;
  border-radius: 15px;
}

#birds-player #birds-volume .ui-slider-range-min {
  height: 5px;
  width: 100%;
  position: absolute;
  background: #6e6e73;
  border: none;
  border-radius: 10px;
  outline: none;
}

#birds-player #birds-volume .ui-slider-handle {
  width: 14px;
  height: 14px;
  border-radius: 20px;
  background: #a1a1a6;
  position: absolute;
  margin-left: -8px;
  margin-top: -5px;
  cursor: pointer;
  outline: none;
}

#birds-player #birds-volume .ui-slider-handle:hover {
  background: white;
}
/*# sourceMappingURL=audioController.css.map */