.noise {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 24vh;
  margin: auto;
}

#wave-player {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 2vw;
}

#wave-player #wave-volume {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 6px;
  background: #282828;
  border-radius: 15px;
}

#wave-player #wave-volume .ui-slider-range-min {
  height: 6px;
  width: 100%;
  bottom: 0;
  position: absolute;
  background: #4c4c4e;
  border: none;
  border-radius: 10px;
  outline: none;
}

#wave-player #wave-volume .ui-slider-handle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #a1a1a6;
  position: absolute;
  margin-left: -6px;
  margin-bottom: -8px;
  cursor: pointer;
  outline: none;
}

#wave-player #wave-volume .ui-slider-handle:hover {
  background: #fff;
}

#rain-player {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 2vw;
}

#rain-player #rain-volume {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 6px;
  background: #282828;
  border-radius: 15px;
}

#rain-player #rain-volume .ui-slider-range-min {
  height: 6px;
  width: 100%;
  bottom: 0;
  position: absolute;
  background: #4c4c4e;
  border: none;
  border-radius: 10px;
  outline: none;
}

#rain-player #rain-volume .ui-slider-handle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #a1a1a6;
  position: absolute;
  margin-left: -6px;
  margin-bottom: -8px;
  cursor: pointer;
  outline: none;
}

#rain-player #rain-volume .ui-slider-handle:hover {
  background: #fff;
}

#thunder-player {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 2vw;
}

#thunder-player #thunder-volume {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 6px;
  background: #282828;
  border-radius: 15px;
}

#thunder-player #thunder-volume .ui-slider-range-min {
  height: 6px;
  width: 100%;
  bottom: 0;
  position: absolute;
  background: #4c4c4e;
  border: none;
  border-radius: 10px;
  outline: none;
}

#thunder-player #thunder-volume .ui-slider-handle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #a1a1a6;
  position: absolute;
  margin-left: -6px;
  margin-bottom: -8px;
  cursor: pointer;
  outline: none;
}

#thunder-player #thunder-volume .ui-slider-handle:hover {
  background: #fff;
}

#birds-player {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 2vw;
}

#birds-player #birds-volume {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 6px;
  background: #282828;
  border-radius: 15px;
}

#birds-player #birds-volume .ui-slider-range-min {
  height: 6px;
  width: 100%;
  bottom: 0;
  position: absolute;
  background: #4c4c4e;
  border: none;
  border-radius: 10px;
  outline: none;
}

#birds-player #birds-volume .ui-slider-handle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #a1a1a6;
  position: absolute;
  margin-left: -6px;
  margin-bottom: -8px;
  cursor: pointer;
  outline: none;
}

#birds-player #birds-volume .ui-slider-handle:hover {
  background: #fff;
}

#wind-player {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 2vw;
}

#wind-player #wind-volume {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 6px;
  background: #282828;
  border-radius: 15px;
}

#wind-player #wind-volume .ui-slider-range-min {
  height: 6px;
  width: 100%;
  bottom: 0;
  position: absolute;
  background: #4c4c4e;
  border: none;
  border-radius: 10px;
  outline: none;
}

#wind-player #wind-volume .ui-slider-handle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #a1a1a6;
  position: absolute;
  margin-left: -6px;
  margin-bottom: -8px;
  cursor: pointer;
  outline: none;
}

#wind-player #wind-volume .ui-slider-handle:hover {
  background: #fff;
}

#chorus-player {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#chorus-player #chorus-volume {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 6px;
  background: #282828;
  border-radius: 15px;
}

#chorus-player #chorus-volume .ui-slider-range-min {
  height: 6px;
  width: 100%;
  bottom: 0;
  position: absolute;
  background: #4c4c4e;
  border: none;
  border-radius: 10px;
  outline: none;
}

#chorus-player #chorus-volume .ui-slider-handle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #a1a1a6;
  position: absolute;
  margin-left: -6px;
  margin-bottom: -8px;
  cursor: pointer;
  outline: none;
}

#chorus-player #chorus-volume .ui-slider-handle:hover {
  background: #fff;
}

.icon {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  margin-top: 2vh;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .noise {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  #wave-player {
    margin-right: 3vw;
  }
  #rain-player {
    margin-right: 3vw;
  }
  #thunder-player {
    margin-right: 3vw;
  }
  #birds-player {
    margin-right: 3vw;
  }
  #chorus-player {
    margin-right: 3vw;
  }
}

@media screen and (max-width: 720px) {
  .noise {
    width: 60%;
  }
}

@media screen and (max-width: 560px) {
  .noise {
    width: 80%;
  }
}

@media screen and (max-width: 430px) {
  .noise {
    width: 100%;
  }
}

@font-face {
  src: url(/resources/fonts/SpaceMono-Regular.ttf);
  font-family: Space-Mono;
  font-weight: 400;
}

@font-face {
  src: url(/resources/fonts/SpaceMono-Bold.ttf);
  font-family: Space-Mono;
  font-weight: 600;
}

@font-face {
  src: url(/resources/fonts/Carbon.ttf);
  font-family: Carbon;
}

.breathe {
  height: 125px;
  width: 125px;
  margin: 0 auto;
  display: none;
  -webkit-animation: pulse 6s cubic-bezier(0.5, 0, 0.5, 1) alternate infinite;
          animation: pulse 6s cubic-bezier(0.5, 0, 0.5, 1) alternate infinite;
}

#breathe-wrapper {
  position: absolute;
  width: 100%;
  opacity: 0;
}

#breathe {
  display: none;
}

.circle {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  position: absolute;
  mix-blend-mode: screen;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation: center 8s infinite;
          animation: center 8s infinite;
}

#circle {
  mix-blend-mode: screen;
}

.circle:nth-child(odd) {
  background: #61bea2;
}

.circle:nth-child(even) {
  background: #529ca0;
}

.circle:nth-child(1) {
  -webkit-animation: circle-1 6s ease alternate infinite;
          animation: circle-1 6s ease alternate infinite;
}

.circle:nth-child(2) {
  -webkit-animation: circle-2 6s ease alternate infinite;
          animation: circle-2 6s ease alternate infinite;
}

.circle:nth-child(3) {
  -webkit-animation: circle-3 6s ease alternate infinite;
          animation: circle-3 6s ease alternate infinite;
}

.circle:nth-child(4) {
  -webkit-animation: circle-4 6s ease alternate infinite;
          animation: circle-4 6s ease alternate infinite;
}

.circle:nth-child(5) {
  -webkit-animation: circle-5 6s ease alternate infinite;
          animation: circle-5 6s ease alternate infinite;
}

.circle:nth-child(6) {
  -webkit-animation: circle-6 6s ease alternate infinite;
          animation: circle-6 6s ease alternate infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.15) rotate(180deg);
            transform: scale(0.15) rotate(180deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.15) rotate(180deg);
            transform: scale(0.15) rotate(180deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes circle-1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-35px, -50px);
            transform: translate(-35px, -50px);
  }
}

@keyframes circle-1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-35px, -50px);
            transform: translate(-35px, -50px);
  }
}

@-webkit-keyframes circle-2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(35px, 50px);
            transform: translate(35px, 50px);
  }
}

@keyframes circle-2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(35px, 50px);
            transform: translate(35px, 50px);
  }
}

@-webkit-keyframes circle-3 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-60px, 0);
            transform: translate(-60px, 0);
  }
}

@keyframes circle-3 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-60px, 0);
            transform: translate(-60px, 0);
  }
}

@-webkit-keyframes circle-4 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(60px, 0);
            transform: translate(60px, 0);
  }
}

@keyframes circle-4 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(60px, 0);
            transform: translate(60px, 0);
  }
}

@-webkit-keyframes circle-5 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-35px, 50px);
            transform: translate(-35px, 50px);
  }
}

@keyframes circle-5 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-35px, 50px);
            transform: translate(-35px, 50px);
  }
}

@-webkit-keyframes circle-6 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(35px, -50px);
            transform: translate(35px, -50px);
  }
}

@keyframes circle-6 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(35px, -50px);
            transform: translate(35px, -50px);
  }
}

@media screen and (max-width: 900px) {
  #breathe-wrapper {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media screen and (max-width: 720px) {
  #breathe-wrapper {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media screen and (max-width: 560px) {
  #breathe-wrapper {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    margin-top: 6vh;
  }
}

@media screen and (max-width: 430px) {
  #breathe-wrapper {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

body {
  background: #111111;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-wrapper {
  position: relative;
  margin: 0 auto;
  width: 80vw;
  height: 100vh;
}

.header-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header-nav .nav-text {
  color: #4c4c4e;
  font-family: Carbon;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  margin-left: 3vw;
  margin-right: 0;
  cursor: pointer;
}

.header-nav .nav-text:hover {
  color: #a1a1a6;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 0vh;
  width: 80%;
  background: #111111;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-nav .nav-text {
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.footer-nav .nav-text {
  color: #4c4c4e;
  font-family: Carbon;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  margin-left: 3vw;
  margin-right: 0;
  cursor: pointer;
}

.footer-nav .nav-text:hover {
  color: #a1a1a6;
}

.body-wrapper {
  position: relative;
  height: auto;
}

.body-wrapper .breathe-wrapper {
  margin-top: 12vh;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.body-context-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 42vh;
}

.text-context {
  width: 60%;
}

.text-context .heading {
  color: #ffffff;
  font-family: Space-Mono, monospace;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -2px;
}

.text-context .subheading {
  color: #a1a1a6;
  font-family: Space-Mono, monospace;
  font-size: 13px;
  letter-spacing: -0.2px;
  line-height: 24px;
  padding-top: 1vh;
  opacity: 0;
  -webkit-animation-name: moveTextFromBottom;
          animation-name: moveTextFromBottom;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.text-context .play-audio {
  color: #ffffff;
  opacity: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: Carbon;
  text-transform: uppercase;
  position: relative;
  margin-top: 8vh;
  -webkit-animation-name: moveTextFromBottom;
          animation-name: moveTextFromBottom;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
  cursor: pointer;
}

.text-context .play-audio:hover {
  color: #61bea2;
}

.noise-wrapper {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
}

.dud {
  color: #4c4c4e;
}

@-webkit-keyframes moveTextFromBottom {
  from {
    -webkit-transform: translateY(1vh);
            transform: translateY(1vh);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
    opacity: 1;
    display: block;
  }
}

@keyframes moveTextFromBottom {
  from {
    -webkit-transform: translateY(1vh);
            transform: translateY(1vh);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
    opacity: 1;
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .main-wrapper {
    width: 88vw;
  }
  .footer-nav {
    width: 88%;
  }
  .text-context {
    width: 60%;
  }
  .text-context .heading {
    font-size: 22px;
  }
  .text-context .subheading {
    font-size: 12px;
    letter-spacing: -0.2px;
    line-height: 22px;
    padding-top: 1vh;
  }
  .text-context .play-audio {
    margin-top: 6vh;
  }
}

@media screen and (max-width: 720px) {
  .text-context {
    width: 100%;
  }
  .text-context .heading {
    text-align: center;
  }
  .text-context .subheading {
    text-align: center;
  }
  .text-context .play-audio {
    margin: 0 auto;
    margin-top: 6vh;
  }
  .header-nav {
    padding-top: 6vh;
  }
  .body-context-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .noise-wrapper {
    width: 100%;
    padding-top: 8vh;
    margin-bottom: 12vh;
  }
}

@media screen and (max-width: 560px) {
  #monogram {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .header-nav {
    padding-top: 4vh;
  }
  .body-context-wrapper {
    padding-top: 36vh;
  }
}

@-webkit-keyframes rotateLoader {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateLoader {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loader {
  background-color: #111111;
  position: relative;
}

.loader #monogram-loader {
  opacity: 0.1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 42vh;
  -webkit-animation: rotateLoader 24s linear infinite;
          animation: rotateLoader 24s linear infinite;
}
/*# sourceMappingURL=style.css.map */