@import './audioController';
@import './theme';
@import './components';
@import './breathe';

body {
	background: $background-primary;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.main-wrapper {
	position: relative;
	margin: 0 auto;
	width: 80vw;
	height: 100vh;
	display: none;
	opacity: 0;
}

.header-nav {
	@include header-nav;
	.nav-text {
		@include nav-text;
	}
}

.footer-nav {
	@include footer-nav;
	.nav-text {
		@include nav-text;
	}
}

.body-wrapper {
	position: relative;
	height: auto;
	.breathe-wrapper {
		margin-top: 12vh;
		transform: scale(1.2);
	}
}

.body-context-wrapper {
	display: flex;
	position: relative;
	padding-top: 42vh;
}

.text-context {
	width: 60%;
	.heading {
		color: $text-primary;
		font-family: Space-Mono, monospace;
		font-weight: 400;
		font-size: 24px;
		letter-spacing: -2px;
	}

	.subheading {
		color: $text-secondary;
		font-family: Space-Mono, monospace;
		font-size: 13px;
		letter-spacing: -0.2px;
		line-height: 24px;
		padding-top: 1vh;
		opacity: 0;
		animation-name: moveTextFromBottom;
		animation-duration: 0.4s;
		animation-fill-mode: forwards;
		animation-timing-function: ease-in-out;
		animation-delay: 1.4s;
	}

	.play-audio {
		color: $text-primary;
		opacity: 0;
		width: max-content;
		font-family: Carbon;
		text-transform: uppercase;
		position: relative;
		margin-top: 8vh;
		animation-name: moveTextFromBottom;
		animation-duration: 0.4s;
		animation-fill-mode: forwards;
		animation-timing-function: ease-in-out;
		animation-delay: 1.8s;
		cursor: pointer;

		&:hover {
			color: #61bea2;
		}
	}
}

.noise-wrapper {
	width: 40%;
	display: flex;
	opacity: 0;
}

.dud {
	color: $text-tertiary;
}

@keyframes moveTextFromBottom {
	from {
		transform: translateY(1vh);
		opacity: 0;
	}
	to {
		transform: translateY(0vh);
		opacity: 1;
		display: block;
	}
}

@media screen and (max-width: 900px) {
	.main-wrapper {
		width: 88vw;
	}
	.footer-nav {
		width: 88%;
	}
	.text-context {
		width: 60%;
		.heading {
			font-size: 22px;
		}
		.subheading {
			font-size: 12px;
			letter-spacing: -0.2px;
			line-height: 22px;
			padding-top: 1vh;
		}

		.play-audio {
			margin-top: 6vh;
		}
	}
}

@media screen and (max-width: 720px) {
	.text-context {
		width: 100%;

		.heading {
			text-align: center;
		}

		.subheading {
			text-align: center;
		}

		.play-audio {
			margin: 0 auto;
			margin-top: 6vh;
		}
	}

	.header-nav {
		padding-top: 6vh;
	}
	.body-context-wrapper {
		flex-direction: column;
	}

	.noise-wrapper {
		width: 100%;
		padding-top: 8vh;
		margin-bottom: 12vh;
	}
}

@media screen and (max-width: 560px) {
	.loader {
		transform: scale(0.7);
		margin-top: 32vh !important;
	}
	#monogram {
		transform: scale(0.9);
	}
	.header-nav {
		padding-top: 4vh;
	}
	.body-context-wrapper {
		padding-top: 36vh;
	}
}

@keyframes rotateLoader {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.loader {
	background-color: $background-primary;
	position: relative;
	margin-top: 42vh;

	#monogram-loader {
		opacity: 0.07;
		display: flex;
		margin: 0 auto;
		animation: rotateLoader 24s linear infinite;
	}
}
